services:
  app:
    environment:
      MAINTAINER: AUR USER NAME
      SLACK_TOKEN: SLACK TOKEN (get from 'Install App' menu in api.slack.com)
      SLACK_CHANNEL: SLACK CHANNEL NAME (eg. '#random', '#report', '#aur' or so...)
      GIT_USER_NAME: YOUR GIT USER NAME
      GIT_USER_EMAIL: YOUR GIT EMAIL ADDRESS
    build:
      context: .
      dockerfile: Dockerfile
      args:
        AUR_SSH_PRIV_KEY: "YOUR SSH PRIVATE KEY WHICH PUBLIC KEY IS IN AUR"
    image: local/update-pkgbuild-on-aur:latest
    restart: always
    network_mode: bridge
