[Unit]
Description=Update PKGBUILDs on AUR maintained by specific maintainer

[Service]
Type=oneshot
WorkingDirectory=REPOSITORY_LOCATION
ExecStart=/usr/bin/docker-compose run app

[Install]
WantedBy=default.target
